.navbar-brand {
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 800;
	color: rgb(150, 0, 0)!important;
}
.white-background {
	background-color: white;
}

.navbar-brand:hover {
	color: rgb(211, 3, 3)!important;
}

.login-link {
	color: black!important;
	font-weight: bolder;
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
}

.navbar-nav .nav-link.login-link {
    padding: 5px;
}

.login-link:hover {
	background-color: rgba(255, 0, 0, 0.678);
	color: white!important;
	border-color: transparent;
}

.user-profile {
	font-size: 14px;
}

.user-profile-pic {
	height: 38px;
	width: 38px;
	border-radius: 50%;
	background: url('../images/small_profile.png');
	background-size: contain; 
	background-repeat:no-repeat;
    background-position: center center;

}

.dropdown-menu {
	border: 1px solid #e3e6f0;
}

.card {
	border: none;
}

.dropdown .dropdown-menu {
	font-size: 0.9rem;
	color: gray;
}

.dropdown-item {
	color: #3a3b45;
}

.dropdown-item:active {
	background-color: #ff0048;
}

.dropdown-item-icon {
	color: #d1d3e2;
}

.dropdown-item:hover .dropdown-item-icon {
	color: #a1a2a8;
}

.user-profile-name {
	color: rgb(71, 71, 71);
}

.user-profile {
	opacity: 70%;
}

.user-profile:hover,
.user-profile:focus {
	opacity: 100%;
	box-shadow: none;
}